# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/*.db
prisma/*.db-journal

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
playwright-report/
test-results/
coverage/

# Docker
docker-compose.override.yml

# Misc
*.tsbuildinfo
next-env.d.ts

/generated/prisma
